@{
    ViewBag.Title = "Home Page";
}

<div class="well">
    <h2>Bienvenido</h2>
    <p class="lead">English Made Easy!</p>
    <div class="row">
        <div class="col-md-4 col-sm-4"><p><a href="@Url.Action("Index","Home")" class="btn btn-primary btn-lg">Estudiantes &raquo;</a></p></div>
        <div class="col-md-4 col-sm-4"><p><a href="@Url.Action("Index","Home")" class="btn btn-primary btn-lg">Padres &raquo;</a></p></div>
        <div class="col-md-4 col-sm-4"><p><a href="@Url.Action("Index","Home")" class="btn btn-primary btn-lg">Maestros &raquo;</a></p></div>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div id="carousel-ell" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-ell" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-ell" data-slide-to="1"></li>
                <li data-target="#carousel-ell" data-slide-to="2"></li>
                <li data-target="#carousel-ell" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/carousel/image_1.png" alt="English Language Learning Colima"/>
                    @*<div class="carousel-caption">
                        English Language Learning Colima
                    </div>*@
                </div>
                <div class="item">
                    <img src="~/images/carousel/image_2.png" alt="English Learners" />
                    @*<div class="carousel-caption">
                        English Learners
                    </div>*@
                </div>
                <div class="item">
                    <img src="~/images/carousel/image_3.png" alt="Online Courses" />
                    @*<div class="carousel-caption">
                        Online Courses
                    </div>*@
                </div>
                <div class="item">
                    <img src="~/images/carousel/image_4.png" alt="English Teachers" />
                    @*<div class="carousel-caption">
                        English Teachers
                    </div>*@
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-ell" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-ell" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h3>Filosofía ELL</h3>
        <p>
            Simplicidad y Facilidad. Nuestras clases son personalizadas, a tu ritmo, y con un máximo de 6 alumnos por clase. Tema por tema y paso por paso, tu aprendizaje está garantizado. Nuestro enfoque está en el entendimiento real del idioma para desarrollar habilidades lectoras y de escritura. Vocabulario y conversaciones son habilidades que se practican en cada clase.
        </p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index","Home")"><h3>Cursos en Línea</h3></a>
        <p>English Language Learning ofrece cursos 100% en línea disponibles para todos los niveles.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Home")">Ir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index","Home")"><h3>Material Gratis</h3></a>
        <p>Encuentra aquí material para el aprendizaje de inglés. Adicionalmente contamos con material para maestros de inglés. Todo el material en esta sección es gratuito.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index","Home")">Ir &raquo;</a></p>
    </div>
</div>

